<!DOCTYPE html>
<html>

<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center account-info">

                    <% if (typeof user.photo != 'undefined') { %>
                        <img class="border rounded-circle border-light shadow account-photo" src="<%= user.photo %>">
                    <% } else { %>
                        <img class="border rounded-circle border-light shadow account-photo" src="/img/no_picture.png">
                    <% } %>

                    <h3><%= user.name %> <%= user.surname %></h3>

                    <% if (typeof errors != 'undefined') { %>
                        <% for (error of errors) { %>
                        <div class="alert alert-danger" role="alert"><span><%= error.msg %></span></div>
                        <% } %>
                    <% } %>
                    
                    <div class="table-responsive text-left">
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 200px;">E-mail</td>
                                    <td><%= user.email %>

                                        <% if (typeof session.logged != 'undefined' && session.userId === user._id) { %>
                                            <a class="btn btn-primary btn-sm float-right" href="/account/<%= user._id %>/edit" role="button" style="background: rgb(224,116,37);border-color:white">Edit profile</a>
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Joined</td>
                                    <td><%= user.joined %></td>
                                </tr>

                                <% if (typeof user.location != 'undefined') { %>
                                    <tr>
                                        <td>Location</td>
                                        <td><%= user.location %></td>
                                    </tr>
                                <% } %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- TODO COMMENTS -->
        </div>
    </div>

    <%- include("partials/footer.ejs") %>
    <%- include("partials/scripts.ejs") %>

</body>

</html>