<!DOCTYPE html>
<html>

<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>

    <div class="container">
        <div class="row justify-content-center" style="margin-top: 40px;">
            
            <% if (typeof messages != 'undefined') { %>
                <% for (message of messages) { %>
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert" style="width: 100%;"><span><%= message.msg %></span></div>
                    </div>
                <% } %>
            <% } %>
            
        <% if (typeof hotels != 'undefined') { %>
            <div class="row" style="margin-top: 10px">
                <% for (hotel of hotels) { %>
                    <div class="col-md-6">
                        <div class="card" style="width: 512px;">
                            <% if (typeof hotel.photo != 'undefined') { %>
                                <img class="card-img-top w-100 d-block" style="height: 320px;" alt="" src="<%= hotel.photo %>"/>
                            <% } else { %>
                                <img class="card-img-top w-100 d-block" style="height: 320px;" alt="" src="/img/no_photo.png"/>
                            <% } %>
                            <div class="card-body">
                                <h4 class="card-title"><%= hotel.name %></h4>
                                <p class="card-text"><%= hotel.city %>, <%= hotel.country %></p>
                                <a class="btn" style="background-color: rgb(224,116,37); color:white" href="/account/<%= hotel._id %>" >Visit hotel page!</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>

    <%- include("partials/footer.ejs") %>
    <%- include("partials/scripts.ejs") %>

</body>

</html>