<!DOCTYPE html>
<html>

<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>

    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder">
                <div class="image-holder"></div>
            </div>
            <form method="post" onsubmit = "return validateForm(this)">
                <h2 class="text-center">
                    <div class="illustration"><img src="/img/amber-hotel-amber-business.png" style="width: 100px;"></div>
                    <strong>Create</strong> an account.
                </h2>

                <% if (typeof errors != 'undefined') { %>
                    <% for (error of errors) { %>
                    <div class="alert alert-danger" role="alert"><span><%= error.msg %></span></div>
                    <% } %>
                <% } %>

                <% if (typeof messages != 'undefined') { %>
                    <% for (message of messages) { %>
                    <div class="alert alert-success" role="alert"><span><%= message.msg %></span></div>
                    <% } %>
                <% } %>

                <div class="form-group">
                    <input class="form-control" type="email" name="email" oninput="isFieldValid(this)" placeholder="E-mail address" required>
                    <small id="emailError" class="form-text text-muted" style="display: none;">Provided e-mail address is invalid.</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" oninput="isFieldValid(this)" name="password" placeholder="Password" required>
                    <small id="passwordError" class="form-text text-muted" style="display: none;">5-30 characters long with at least one small letter, one big letter and one number.</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" oninput="doPasswordsMatch(this)" name="repeatPassword" placeholder="Repeat password" required>
                    <small id="repeatPasswordError" class="form-text text-muted" style="display: none;">Passwords do not match.</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" oninput="isFieldValid(this)" name="hotelName" placeholder="Hotel name" required>
                    <small id="nameError" class="form-text text-muted" style="display: none;">Hotel's name must be between 3 and 64 characters.</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" oninput="isFieldValid(this)" name="street" placeholder="Street name" required>
                    <small id="streetError" class="form-text text-muted" style="display: none;">Street name cannot special characters other than "&", "-" and "'" and must be 3 to 64 characters long.</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" oninput="isFieldValid(this)" name="building" placeholder="Building number" required>
                    <small id="buildingError" class="form-text text-muted" style="display: none;">Only numbers are allowed.</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" oninput="isFieldValid(this)" name="postal" placeholder="Postal code" required>
                    <small id="postalError" class="form-text text-muted" style="display: none;">Invalid postal code.</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" oninput="isFieldValid(this)" name="city" placeholder="City" required>
                    <small id="cityError" class="form-text text-muted" style="display: none;">Invalid city name.</small>
                </div>
                <div class="form-group">
                    <select name="country" class="form-control" style="width: 100%;text-align: left;" required>
                        <option value="Poland">Poland</option>
                        <option value="Germany">Germany</option>
                        <option value="Austria">Austria</option>
                        <option value="France">France</option>
                        <option value="Denmark">Denmark</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="photo" placeholder="Link to hotel's photo">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="web" placeholder="Your web page">
                </div>
                <div class="form-group">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" required>I agree to the <a href="/license" target="_blank">license terms</a>.
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" style="background: rgb(224,116,37);">Sign Up</button>
                </div>
                <a class="already" href="/login/hotel">You already have an account? Login here.</a></form>
        </div>
    </div>

    <script src="/js/basicValidation.js" type="application/javascript"></script>

    <%- include("partials/footer.ejs") %>
    <%- include("partials/scripts.ejs") %>

</body>

</html>