<!DOCTYPE html>
<html>

<%- include("../partials/header.ejs") %>

<body>

    <%- include("../partials/nav.ejs") %>

    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-md-6" style="max-width: 25%;border: 1px solid #dee2e6;border-radius: 16px;padding:20px">
                <h3>Filters</h3>
                <div class="form-group">
                    <label for="city">City</label>
                    <input id="city" class="form-control" type="text" placeholder="City">
                </div>
                <div class="form-group" style="margin-top: -8px">
                    <output>Minimum rating: 2.5</output>
                    <input id="rating" type="range" min="0" max="5" step="0.10" oninput="updateRangeValue(this)" class="form-control-range">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" class="form-control" style="width: 100%;text-align: left;">
                        <option value="Poland">Poland</option>
                        <option value="Germany">Germany</option>
                        <option value="Austria">Austria</option>
                        <option value="France">France</option>
                        <option value="Denmark">Denmark</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top: -8px">
                    <button onclick="filterHotels()" class="btn btn-block" style="background: rgb(224,116,37);color:white">Apply</button>
                </div>
                <div class="form-group" style="margin-top: -8px">
                    <button onclick="resetFilters()" class="btn btn-block" style="background: rgb(224,116,37);color:white">Reset</button>
                </div>
            </div>
            <div class="col" style="margin-left: 10px">
                <div class="row projects">

                    <div class="col-sm-12 item">
                        <% for (hotel of hotels) { %>

                            <div id="<%= hotel.city %>:<%= hotel.country %>" name="hotel" class="row" style="margin-bottom: 10px; border: 1px solid #dee2e6; border-radius: 10px; padding: 5px">
                                <div class="col-md-3">
                                    <a href="/account/<%= hotel._id %>">
                                        <% if (typeof hotel.photo == 'undefined') { %>
                                            <img class="img-fluid" src="/img/no_photo.png"/>
                                        <% } else { %>
                                            <img class="img-fluid" src="<%= hotel.photo %>"/>
                                        <% } %>
                                    </a>
                                </div>
                                <div class="col-md-8" style="max-width: 66%; word-wrap: break-word;">
                                    <h4 class="name"><%= hotel.name %>&nbsp;<span name="rating" class="badge badge-primary" style="background: rgb(224,116,37);font-size: 14px;">
                                        <% if (typeof hotel.rating != 'undefined') { %>
                                            <%= hotel.rating %>
                                        <% } else { %>
                                            No rating
                                        <% } %>

                                        <img src="/img/star.png" style="width: 12px;margin-top: -4px;"/></span></h4>
                                    <p class="description"><%= hotel.city %>, <%= hotel.country %></p>
                                </div>
                            </div>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="application/javascript" src="/js/hotelFilters.js"></script>

    <%- include("../partials/footer.ejs") %>
    <%- include("../partials/scripts.ejs") %>

</body>

</html>